*.class
*.blg
paper/tmp.pdf
paper/tmp.tex
paper/.texpadtmp/
.idea/
.ropeproject/
paper/main*
paper/*.pdf
paper/model/.texpadtmp/
20news-jupyter/
*.topics*
application.log
hood/hood.pdf
paper/topics.csv

paper/lncsFormat.bbl

paper/lncsFormat.aux

paper/lncsFormat.dvi

paper/lncsFormat.log

paper/lncsFormat.out

paper/lncsFormat.tex.bbl

classifier/data/tmp

classifier/data/20newsgroup.all.txt

classifier/data/20newsgroup.test

classifier/data/20newsgroup.train

classifier/result_fastText/20newsgroup.bin

classifier/result_fastText/20newsgroup.test.predict

classifier/data/label-class.dict

classifier/data/class-label.dict

tmp.py
.Rproj.user

NPMI.pdf

NPMI.pdf

NPMI.pdf

.RData

.Rhistory

boxplot.py

detector.Rproj

tmp2.py
