*.class
*.blg
paper/tmp.pdf
paper/tmp.tex
paper/.texpadtmp/
.idea/
.ropeproject/
paper/main*
paper/*.pdf
paper/model/.texpadtmp/
20news-jupyter/
*.topics*
application.log
hood/hood.pdf
paper/topics.csv

paper/lncsFormat.bbl

paper/lncsFormat.aux

paper/lncsFormat.dvi

paper/lncsFormat.log

paper/lncsFormat.out

paper/lncsFormat.tex.bbl
