*.class
*.blg
paper/tmp.pdf
paper/tmp.tex
paper/.texpadtmp/
.idea/
.ropeproject/
paper/main*
paper/*.pdf
paper/model/.texpadtmp/
20news-jupyter/
*.topics*
application.log
hood/hood.pdf
paper/topics.csv
